* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fon-smoothing: grayscale;
}

body {
  text-align: center;
  background-image: url(./assets/bg.jpg);
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
  font-family: 'Cinzel', serif;
 
}

h1 span {
  color: #DB2777;
}

h1 {  
  font-weight: 700;
  font-size: 64px;
  line-height: 86.27px;
  
  color: #151718;

}

h3 {
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  padding: 4px;
  padding-bottom: 72px;
   

  color: rgba(44, 46, 47, 0.9);
  font-family: 'Inter', sans-serif;

}

a {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #151718;

  
}

a:hover,
.btn-primary {
  text-decoration: none;
  background-color: #DB2777;
  color: white;
  border-radius: 80px;
  font-weight: 202;

}


